.home {
  padding: 40px;
  transition: all 0.3s, color 0.3s;
  overflow-x: hidden;

 .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); // dim background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; // sabse upar
  }

  &.dark {
    background: #000;
    color: #fff;

    .modalContent {
      background: #1a1a1a;
      color: #fff;
      border: 1px solid #333;

      input {
        background: #111;
        border: 1px solid #444;
        color: #fff;
      }

      .btnLogin {
        background: royalblue;
        color: #fff;
      }

      .closeBtn {
        color: #fff;
      }
    }
  }

  &.light {
    background: #fff;
    color: #000;

    .modalContent {
      background: #fff;
      color: #000;
      border: 1px solid #ddd;

      input {
        background: #f9f9f9;
        border: 1px solid #ccc;
        color: #000;
      }

      .btnLogin {
        background: royalblue;
        color: #fff;
      }

      .closeBtn {
        color: #000;
      }
    }
  }

  /* ---- Modal Default Layout ---- */
  .modalContent {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    position: relative;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 15px;
      font-size: 14px;
    }

    input {
      padding: 10px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 6px;
      font-size: 15px;
    }

    .btnLogin {
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
    }

    .btnLogin:hover {
      opacity: 0.9;
    }

    .closeBtn {
      position: absolute;
      top: 10px;
      right: 12px;
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: royalblue;
  }

  /* Hero Section */
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;

    .heroLeft {
      flex: 1;

      h1 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .typing {
        font-size: 20px;
        font-weight: bold;
        color: royalblue;
      }
      .cvBtn {
        background-color: royalblue;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        margin-left: 20px;
        cursor: pointer;
      }
    }

    .heroRight {
      flex: 1;
      display: flex;
      justify-content: center;

      .imagePlaceholder {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  /* Skills */
  .skills {
    margin-bottom: 60px;
    overflow-x: hidden;

    h2 {
      font-size: 28px;
      margin-bottom: 30px;
    }

    .skillsList {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

 .skillCard {
  background-color: #0D0D0D;
  padding: 15px;
  font-size: 14px;
  color: white;
  border-radius: 8px;
  transition: all 0.2s linear;
  &.light {
background-color: #F2F2F2;
color: #111;
font-weight: 600;
  }
  &.dark {
    background-color: #0D0D0D;
    color: white;
  }
  &:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    cursor: pointer;
  }
 }
  }

  /* Projects */
  .projects {
    padding: 20px;

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .projectCards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 25px;

      .projectCard {
        padding: 20px;
        border-radius: 12px;
        background: rgba(128, 128, 128, 0.1);
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-5px);
        }

        h3 {
          margin-bottom: 12px;
          font-size: 20px;
          line-height: 26px;
        }

        p {
          font-size: 14px;
          line-height: 1.6;
        }
      }
    }

    .viewMore {
      margin-top: 10px;
      padding: 12px 20px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      background-color: transparent;
      cursor: pointer;
      color: royalblue;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .home {
    .hero {
      flex-direction: column;
      text-align: center;

      .heroLeft {
        h1 {
          font-size: 32px;
        }

        h2 {
          font-size: 20px;
        }

        .typing {
          font-size: 18px;
        }
      }

      .heroRight {
        .imagePlaceholder {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
